{% extends "layouts/default.njk" %}
{% from "components/pagination/pagination.njk" import pagination %}

{% block main %}
    <h1>Blog</h1>
    {% for item in items %}
    <a href="{{ route('blog/_slug', { slug: item.slug }) }}">
        <h2>{{ item.title }}</h2>
    </a>
    {% endfor %}
    {{ pagination() }}
{% endblock %}