{% from "components/app-header/app-header.njk" import appHeader %}
{% set locale = _route.params.locale | default('en') %}
<!doctype html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pretty Static</title>
</head>
<body>
    {{ appHeader(activeRoute = _route.name) }}
    <main>
        {% block main %}{% endblock %}
    </main>
    {# @todo: conditionally load debug, based on node env #}
    {% include "components/debug/debug.njk" %}
</body>
</html>