{% macro pagination(routeName, count, limit, offset) %}
{% if isFirstTime('pagination.css') %}
    <style>{% include "./pagination.css" %}</style>
{% endif %}
<nav class="pagination">
    <ul class="pagination__list">
        {% for newOffset in range(0, count, limit) %}
        <li class="pagination__item">
            {% if offset == newOffset %}
            <strong>{{ loop.index }}</strong>
            {% else %}
            <a href="{{ route(routeName, { locale: 'en' }) }}?offset={{ newOffset }}">{{ loop.index }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}